@font-face {
  font-family: "Ssurround";
  src: url("./fonts/Cafe24Ssurround-v2.0.ttf");
}

@font-face {
  font-family: "SsurroundAir";
  src: url("./fonts/Cafe24SsurroundAir-v1.1.ttf");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  color: #000;
}
